.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tableProduct {
  width: 100%;
  /* text-align: justify; */
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: none;
}
.headerButton {
  display: flex;
  justify-content: space-around;
  padding: 8px;
}
::placeholder {
  color: black;
  font-weight: bold;
  opacity: 1; /* Firefox */
}
.inputNoBorder {
  border: none;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: black;
}
.ant-input::placeholder {
  color: black;
  font-weight: bold;
  opacity: 1; /* Firefox */
}
.svg-inline--fa {
  height: 2em;
}
.svg-inline--fa.fa-w-10 {
  width: 1em;
}
tr {
  border-bottom: 1px solid darkgray;
}
th {
  background-color: #c6d7ff;
}